@model UrunSecimi
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h3>Yiyecekler</h3>
<form asp-action="UrunSec" asp-controller="Cafe" method="post">
    <input type="text" asp-for="@Model.Kategori" hidden/>
    <table>
        <tr>
            <th>Name </th>
            <th>Value</th>
        </tr>
        @for (int i = 0; i < Model.Urunler.Count; i++)
        {
            <tr>
                <td>
                    <label>
                        <input type="number" asp-for="@Model.Urunler[i].UrunId" hidden />
                        <input type="checkbox" asp-for="@Model.Urunler[i].SeciliMi" /> <input type="text" asp-for="@Model.Urunler[i].UrunIsmi" hidden />
                        @Model.Urunler[i].UrunIsmi
                    </label>
                </td>
                <td><input type="number" asp-for="@Model.Urunler[i].UrunFiyat" hidden />@Model.Urunler[i].UrunFiyat</td>
            </tr>

        }

    </table>
    <button type="Submit">Kaydet</button>
   
</form>